certifi==2018.10.15
Django==2.1
django-rest-framework==0.1.0
djangorestframework==3.8.2
Pillow==5.2.0
pipenv==2018.10.13
psycopg2==2.7.5
psycopg2-binary==2.7.5
PyQRCode==1.2.1
pytz==2018.5
reportlab==3.5.5
virtualenv==16.0.0
virtualenv-clone==0.4.0
