<!DOCTYPE html>
<html>
	<head>
	    {% load staticfiles %}
		<meta charset="utf-8">
		<title>Excel 2017 |Offline Reg</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static "register/css/main.css" %}">
		<script src="https://use.fontawesome.com/75bc5066dd.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Comfortaa|Josefin+Sans" rel="stylesheet">
	</head>
	
	<body>
		<div class="container" style="text-align: center;margin: auto;padding: auto;padding-top:10px;">
			<div class="row">
				<div class="text-center col-sm-12">
					<h3>Register - Offline</h3>
					{% if form.errors %}
					<div class="text-danger">Please correct the error{{ form.errors|pluralize }} below.</div>
					{% endif %}
					<div class="col-sm-4 col-sm-offset-4"style="margin-top:20px;">
						<form method="POST" action=".">{%csrf_token%}
						 <div class="control-group {%if field.errors %}error{%endif%}">
							{{form.as_p}}
							<input type="submit" value="register" class="button" style="margin-top:20px;">
						</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
